<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,173},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,173},{68,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{68,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,247},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,247},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,247},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{60,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,173},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,173},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,173},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,173},{58,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dice2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,173},{60,62}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ebg_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{77,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,24}}</string>
                <key>sourceSize</key>
                <string>{77,24}</string>
            </dict>
            <key>ebg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,173},{68,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>ebg_mahjong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,247},{74,109}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{74,109}}</string>
                <key>sourceSize</key>
                <string>{86,133}</string>
            </dict>
            <key>ebg_money_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>ebg_pjbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{400,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,31}}</string>
                <key>sourceSize</key>
                <string>{400,31}</string>
            </dict>
            <key>ebg_result_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,125},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,125},{65,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{117,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,46}}</string>
                <key>sourceSize</key>
                <string>{117,46}</string>
            </dict>
            <key>ebg_result_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,77},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,77},{117,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,46}}</string>
                <key>sourceSize</key>
                <string>{117,46}</string>
            </dict>
            <key>ebg_result_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,77},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,125},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,77},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,125},{75,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,77},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,77},{73,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,125},{77,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_result_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,125},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>ebg_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>ebg_text_pjbh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,19}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>ebg_text_zzfp.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,39},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>ebg_text_zzjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,39},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>ebg_text_zzkp.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,39},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>ebg_text_zzxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>ebg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,247},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,200}}</string>
                <key>sourceSize</key>
                <string>{210,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk_tp.png</string>
            <key>size</key>
            <string>{618,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7a100b28e564c6724ce6b58ad1ca922$</string>
            <key>textureFileName</key>
            <string>desk_tp.png</string>
        </dict>
    </dict>
</plist>
